body
{
  font-family: @fontMain;
  font-size: @sizeMain;
  font-weight: 100;

  color: white;
  background: @colorBack;
  letter-spacing: 1px;
  padding: 0 2%;
}

h1
{
  font-family: @fontTitle;
  font-size: @sizeTitle;
  font-weight: 100;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 100px;
  &:after{
    content: '';
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%,0);
    background-color: @colorRed;
    width: 30px;
    height: 1px;
  }
}

h2{
  font-size: @sizeMain;
  font-family: @fontSubtitle;
  //  font-weight: 300;

}

.chapeau{
  font-family: @fontTitle;
  font-size: 25px;
  font-weight: 100;
  line-height: 39px;
  max-width: 800px;
  margin: 0 auto 130px auto;
  span{
    font-family: @fontMain;
    font-size: @sizeMain;
    font-weight: 100;
    line-height:normal;
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
  }
}

section{
  position: relative;
  display: block;
  text-align: center;
  margin: 140px auto;
  max-width: 1024px;
  width: 100%;
}

.container-col{
  display: flex;
  justify-content: center;
  article{
    max-width: 320px;
    width: 100%;
    p{
      max-width: 265px;
      margin: auto;
      width: 100%;
    }
  }
}

figure{
  max-width: 78%;
  margin: auto;
  padding: 0 5%;
  img{
    width: 100%;
    height: auto;
    margin: 0 auto 80px auto;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: @colorRed;
    width: 30px;
    height: 1px;
  }
}

form{
  input[type="email"], input[type="text"]{
    display: inline-block;
    width: 300px;
    border-radius:20px;
    border: none;
    padding:10px 20px;
    font-family: @fontBtn;
    margin-right: 20px;
    &.focus{
      border-radius:20px;
    }
  }
  input[type="submit"]{
    display: inline-block;
    border: none;
  }
}
