header{
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  height: 100px;
  z-index: 999;
  transform: translateX(-50%);
  background-color: @colorBack;
  padding: 20px 0;
  #menu-hamburger{
    display: none;
  }
  nav{
    max-width: 1024px;
    width: 100%;
    margin: 20px auto;
    &.nav-desktop{
      display: block;
    }
    &.nav-mobile{
      display: none;
    }
  }
  .logo{
    max-width: 100px;
    width: 100%;
    height: auto;
    display: block;
  }

  ul{
    margin-left: 0;
    padding:0;
    li{
      display: inline-block;
      margin-right: 10px;
      a{
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        transform: translateZ(0);
        backface-visibility: hidden;
        position: relative;
        overflow: hidden;
        padding-bottom: 5px;
        &::before{
          content: "";
          position: absolute;
          z-index: -1;
          left: 50%;
          right: 50%;
          bottom: 0;
          background: @colorLightest;
          height: 1px;
          transition-property: left, right;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }
        &:hover{
          &:before{
            left: 0;
            right: 0;
          }
        }
      }
    }
    &.left{
      li{
        a{
          color: @colorLightest;
        }
      }
    }
    &.right{
      li{
        a{
          color:@colorPink;
          &::before{
            background: @colorPink;
          }
        }
      }
    }
  }
}
